RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^login/?$    login.php    [NC,L]    
RewriteRule    ^register/?$    register.php    [NC,L]   

RewriteRule    ^logout/?$    logout.php    [NC,L]  
 

RewriteRule    ^reset/?$     reset.php [NC,L]

## Remove .php extension
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.php [NC,L]


## Redirect non existting pages to profile.php
Options +SymLinksIfOwnerMatch
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /fabex/index.php [L]

