RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^dashboard/?$    index.php    [NC,L]   
RewriteRule    ^logout/?$    logout.php    [NC,L] 
RewriteRule    ^login/?$    login.php    [NC,L] 

## Protect directory


## Redirect non existting pages to profile.php
Options +SymLinksIfOwnerMatch
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
## change this on the actual server
RewriteRule . /fabex/fabex-admin/index.php [L]