:root {
  --primary-color: #166d71;
  --gray: #e0e0e0;
  --todo-bg: #f7f7f7;
  --todo-bg-hover: #e6e1e1;
  --warning: #f4aa0b;
  --red: #ec4646;
  --success: #166d71;
  --header: #8c8c8c;
  --deep-primary: #0e3b44;
  --secondary: #6c757d;
}
div.trans-details {
  margin: 0 auto;
  border-radius: 8px;
  padding: 36px !important;
}
div.trans-details p.header {
  text-align: center;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #131313;
}
div.trans-details p.stat-name {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #131313;
  margin-bottom: 5px;
}
div.trans-details span.muted {
  font-weight: 400;
}
div.trans-details p.stat-val {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--type);
}
div#inactiveModal div.modal-content,
div#logoutModal div.modal-content {
  margin: 0 auto;
  width: 408px;
}
p.yes-no {
  margin-bottom: 0 !important;
  text-align: right;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
span.modal_header {
  display: block;
  width: 60%;
  text-align: left;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #131313;
}
span.inactive-info {
  display: block;
  font-size: 13px;
  line-height: 20px;
  width: 60%;
  text-align: left;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  color: var(--header);
  margin-bottom: 15px;
}
div#moving_rates_div {
  background-color: var(--todo-bg);
  overflow-x: hidden;
}
div.moving_rates {
  width: 120%;
  animation: moving-rate 20s ease-in forwards infinite;
}
@keyframes moving-rate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
div.moving_rates span {
  display: inline-block;
  margin: 0 10px;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
div#errorDiv {
  word-break: break-all;
}
.text-caps {
  text-transform: capitalize !important;
}
a {
  text-decoration: none !important;
}
div#container {
  width: 100%;
}
navbar.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
button.navbar-toggler {
  border: none !important;
  outline: none !important;
}
button.navbar-toggler a {
  text-decoration: none;
  font-size: 16px;
}
a.logout {
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  color: var(--red);
}
a.logout:hover {
  color: rgb(177, 39, 39);
}
img.logo {
  cursor: pointer !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
  min-height: 100vh;
  padding-bottom: 30px;
}
div.no-margin {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

span.backBtn {
  cursor: pointer;
}
select:invalid select {
  color: gray;
}
select.select {
  color: gray;
}
input {
  outline: none !important;
}
.body {
  height: 100%;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.text-to-right {
  text-align: right !important;
}
/* payment page styles */
div.payment-row {
  margin-top: auto;
  margin-bottom: auto;
}
p.kindly-pay {
  font-weight: bold;
  line-height: 35px;
  font-size: 26px;
}

p span.amount {
  color: var(--primary-color);
}
div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
div.paybg {
  background-color: #f7f7f7;
  max-width: 100% !important;
  margin-left: 0;
  margin-right: 0;
}
div span.title {
  font-size: 11px;
  font-weight: bold;
  color: rgb(20, 20, 20);
  font-family: "Overpass", sans-serif;
}
div span.value {
  font-size: 15px;
  font-weight: bold;
  word-break: break-all;
  color: rgb(20, 20, 20);
  font-family: "Overpass", sans-serif;
}

div p.confirm,
div p.note {
  font-size: 18px;
  text-align: left;
  font-weight: normal;
  line-height: 24.3px;
  font-style: normal;
  margin: 12px;
}

button.payment {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  padding: 14px 0;
  height: 65;
  margin: 18px 0px;
  outline: none;
  border: 0;
  border-radius: 12px;
  box-sizing: content-box;
  display: inline-block;
  text-transform: capitalize;
}
button.payment:hover {
  color: aliceblue;
  background-color: #1d5255;
}
span.payment.material-icons {
  margin: 8px 0px;
  color: #8c8c8c;
  cursor: help;
}
span.payment.material-icons:hover {
  color: #413d3d;
}

/* history page styles */
p.trans-history {
  font-weight: 700;
  font-size: 24px;
  line-height: 48.6px;
  color: #131313;
  text-align: center;
  margin: 10px 0;
}
div.transaction {
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
}

div.history {
  padding: 0 12px !important;
  background-color: #f7f7f7;
  border-radius: 8px;
  max-height: 550px;
  overflow-y: auto;
}

span.no-history {
  background-color: #e0e0e0;
  padding: 40px;
  color: var(--primary-color);
  font-size: 120px;
}
span.no-trans-yet {
  color: #8c8c8c;
  font-size: 18px;
  display: block;
  margin-top: 18px;
}

span.trans-title,
span.trans-amount {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 135%;
  display: inline-block;
  color: #131313;
}
span.trans-amount {
  font-weight: 600;
}

span.trans-status,
span.trans-time {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 21px;
  color: #8c8c8c;
  display: inline-block;
}
span.ellipse {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: var(--type);
  bottom: 1px;
}

/* sell crypto styles */
div.upload {
  border: 1px solid #8c8c8c;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 16px;
  margin: 0px;
}
label.choose,
span.file-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: normal;
  padding-bottom: 0;
  margin-bottom: 0;
  text-transform: none !important;
}
label.choose {
  color: var(--primary-color);
  cursor: pointer;
  text-align: right;
}
label.choose:hover {
  color: #638385;
}
input.file-input {
  opacity: 0;
  max-height: 8px;
  line-height: 8px;
  font-size: x-small;
  text-transform: none I !important;
}

/* trade crypto styles */
button.trading {
  margin-left: 10px !important;
  margin-right: 10px !important;
  border-radius: 8px !important;
}
button.buy.active {
  background: #cdeced !important;
  border: 2px solid var(--primary-color) !important;
  color: #131313 !important;
}
button.sell.active {
  background: #f0e3c5 !important;
  border: 2px solid #f4aa0b !important;
  color: #131313 !important;
}
select.select {
  width: 100%;
  display: block;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ced4da;
  cursor: pointer;
  overflow-y: auto;
  color: gray;
}

select:hover,
input:hover {
  outline: none;
  border: 1px solid #6d6f72;
}
*:focus {
  outline: none !important;
}
*::-moz-focus-inner {
  outline: none !important;
}
.fw-bold {
  font-weight: bold;
}

div.trade select,
div.trade input:not(input[type="checkbox"]) {
  font-size: 16px !important;
  border-radius: 10px !important;
  padding: 12px !important;
}

input.toggle-switch {
  margin-left: 0.3em !important;
  margin-right: 10px;
}
input.toggle-switch:checked {
  background-color: var(--primary-color);
  border-color: #166d71;
}
/* sell giftcard page */
label[for="upload"].giftcard {
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
  padding: 25px 30px;
}
label[for="upload"].giftcard span {
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
  text-transform: lowercase !important;
}
/* dashboard styles */
a.dash {
  display: block;
  width: 100%;
  height: auto;
  color: #131313;
  text-decoration: none;
}
p.view-all {
  color: var(--primary-color);
  cursor: pointer;
  text-align: right !important;
}
div.todo {
  border-radius: 12px;
  background-color: var(--todo-bg);
  cursor: pointer;
}
div.todo:hover {
  background-color: var(--todo-bg-hover);
}
div.todo span.icon {
  border-radius: 50%;
  padding: 8px;
}

div.todo span.giftcard {
  background-color: #cdeced;
}
div.todo span.crypto {
  background-color: #f0e3c5;
}

div.todo span.act {
  font-weight: 400;
  font-size: large;
  height: 40px;
  vertical-align: middle;
}
div.todo p.note {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 135%;
  margin-left: 0;
}

/* exchange rate page */
div.rates {
  background-color: #f7f7f7;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 12px;
}

div.rates div.rate {
  padding: 12px 24px !important;
  overflow: hidden;
}

div.rate span.rate-title {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  max-width: 90%;
}
div.rate span.rate-price {
  font-size: 12px;
  font-weight: bold;
}
/* settings page styles */
.gap {
  row-gap: 10px !important;
}
.rad8 {
  border-radius: 8px;
  font-size: 15px;
  padding: 10px;
}
p.changepass {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
p.changepass a:hover {
  color: #1d5255;
}
p.changepass a {
  text-decoration: none;
  cursor: pointer;
}
button.settings, a.settings {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 0;
  margin: 16px auto;
  outline: none;
  border: 0;
  border-radius: 12px;
  display: block;
}
button.changepass {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 0;
  margin: 24px auto;
  outline: none;
  border: 0;
  border-radius: 12px;
}
button.changepass:hover,
button.settings:hover {
  background-color: #1d5255;
}
label.settings {
  font-size: 14px !important;
}

/* reset page styles */
p.info {
  font-size: 14px !important;
}
/* login page styles */
span.toggle-password {
  color: var(--header);
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 50px;
  transform: translateY(-50%);
}
span.toggle-password:hover {
  color: var(--gray);
}
p.forgotpass {
  text-align: right !important;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: bold;
}
p.forgotpass a:hover {
  color: #1d5255;
}
p.forgotpass a {
  text-decoration: none;
  color: var(--primary-color);
}

/* admin pages */
div.admin-rate > div#buyDiv, div.admin-rate>div#sellDiv{
  max-height: 600px;
  overflow-y: auto;
}
button.action-button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 5px;
  font-size: 13px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 4px;
}
button.approve {
  color: var(--primary-color);
  border-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
button.approve:hover {
  color: white;
  background-color: var(--primary-color);
}
button.reject {
  color: var(--red);
  border-color: var(--red);
  border: 1px solid var(--red);
}
button.reject:hover {
  color: white;
  background-color: var(--red);
}
button.undo {
  color: var(--header);
  border-color: var(--header);
  border: 1px solid var(--header);
}
button.undo:hover {
  color: white;
  background-color: var(--header);
}

td span.extra-detail {
  color: #8c8c8c;
}
.td {
  font-size: 14px;
}
td span.val {
  display: inline-block;
  word-break: break-all;
}
td span.copy {
  color: #8c8c8c;
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
}

/* admin rate management page */
div.admin-rate > div.bordered {
  border-right: 3px solid #e5e5e5;
}
span.product-name {
  height: 24px;
  margin-top: 7px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
}
input.admin-rate {
  border-radius: 6px;
  font-size: 15px;
  padding: 7px 10px;
}

/* admin settings page */
span.three-dots.dropdown-toggle::after {
  content: none !important;
}
span.dropdown-item {
  cursor: pointer;
}
div.each-crypto {
  background-color: var(--todo-bg);
  display: inline-block;
  padding: 8px 15px !important;
  border-radius: 5px;
  margin-top: 10px;
}
span.crypto-name {
  display: inline-block;
  line-height: 24px;
  font-weight: 400;
}
span.three-dots {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}
span.three-dots:hover {
  background-color: var(--todo-bg-hover);
  padding: 3px;
  border-radius: 50%;
}
div.add-crypto,
div.add-giftcard {
  cursor: pointer;
  display: block;
  width: 200px;
  color: var(--primary-color);
}
div.add-network {
  width: 100% !important;
  text-align: right;
}
div.add-crypto > span,
div.add-giftcard > span {
  text-transform: none !important;
  font-size: 14px;
}
div.add-crypto:hover,
div.add-giftcard:hover {
  padding: 3px;
  color: #1d5255;
}
span.add-crypto {
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  margin: 0px 5px;
}
div.pad,
form.pad {
  padding-right: 8% !important;
}
div.each-giftcard {
  width: max-content;
  background-color: var(--todo-bg);
  padding: 8px 12px !important;
  border-radius: 5px;
  margin-top: 10px;
}
span.sub_cat {
  display: block;
  font-size: 12px;
  color: var(--header);
  margin-top: 8px;
}
span.crypto_network {
  display: block;
  font-size: 14px;
  color: var(--header);
  text-transform: uppercase;
}
/* admin bank accounts */
span.bank-icon {
  cursor: pointer;
}
span.bank-icon:hover {
  color: red !important;
}
a.best-giftcard {
  padding: 18px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  display: block;
  background-color: var(--primary-color);
  color: white;
  position: relative;
}
div.top-rates {
  max-height: 200px;
  overflow-y: auto;
}
/* Hide scrollbar for IE, Edge and Firefox */
div.top-rates,
div.history {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* custom scroll bar */
div.top-rates::-webkit-scrollbar,
div.history::-webkit-scrollbar,
div.admin-rate>div#sellDiv::-webkit-scrollbar,
div.admin-rate>div#buyDiv::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

div.top-rates::-webkit-scrollbar-track,
div.history::-webkit-scrollbar-track,
div.admin-rate>div#sellDiv::-webkit-scrollbar-track,
div.admin-rate>div#buyDiv::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

div.top-rates::-webkit-scrollbar-thumb,
div.history::-webkit-scrollbar-thumb,
div.admin-rate>div#sellDiv::-webkit-scrollbar-thumb,
div.admin-rate>div#buyDiv::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 10px;
}

div.top-rates::-webkit-scrollbar-thumb:hover,
div.history::-webkit-scrollbar-thumb:hover,
.admin-rate>div#sellDiv::-webkit-scrollbar-thumb:hover,
div.admin-rate>div#buyDiv::-webkit-scrollbar-thumb:hover {
  background: var(--todo-bg-hover);
}
a.best-giftcard::after {
  content: "\203A";
  color: white;
  margin: 0 10px;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  right: 6px;
}
a.best-giftcard:hover {
  background-color: var(--deep-primary);
  color: white;
}
@media screen and (max-width: 700px) {
  div.moving_rates {
      animation: moving-rate 30s ease-in forwards infinite;
    }
  div#inactiveModal div.modal-content,
  div#logoutModal div.modal-content {
    width: max(300px, 100%);
  }
  span.modal_header {
    font-size: 16px;
  }
  span.inactive-info {
    font-size: 12px;
  }
  div.trans-details {
    padding: 24px !important;
  }
  div.trans-details p.header {
    font-size: 18px;
  }
  div.trans-details p.stat-val {
    font-size: 12px;
    line-height: 18px;
  }
  div.moving_rates {
    width: 300%;
  }
  span.no-history{
    background-color: #e0e0e0;
    padding: 30px;
    color: var(--primary-color);
    font-size: 90px;
  }
  div.top-rates {
    height: auto;
    max-height: max-content;
    overflow-y: auto;
  }
}
/* admin management audit */
[data-delete-button], [data-feed-button]{
  color: var(--header); 
  display:inline; 
  vertical-align:middle;
  cursor: pointer;
  margin: auto 0;
}
[ data-admins]{
  height: 60vh;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}
[data-audit]{
  height: 70vh;
  max-height: 70vh;
  background-color: var(--todo-bg);
  border-radius: 6px;
  overflow-y: auto;
}
[data-order-feeds]{
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: 8px;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.click-here{
  text-decoration: underline;
  cursor: pointer;
}
.click-here:hover{
  filter: opacity(70%);
}
.whatsapp-icon {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  opacity: 1;
  transition: opacity 500ms;
}
.whatsapp-icon:where(:focus, :hover){
  opacity: .8;
}

.whatsapp-icon>img {
  aspect-ratio: 1;
  width: 40px;
  border-radius: 6px;
}