:root {
  --primary-color: #166d71;
  --gray: #e0e0e0;
  --todo-bg: #f7f7f7;
  --todo-bg-hover: #e6e1e1;
  --warning: #f4aa0b;
  --red: #ec4646;
  --success: #166d71;
  --header: #8c8c8c;
  --deep-primary: #0e3b44;
}
body {
  position: relative;
}
a#web-app-btn {
  background-color: var(--primary-color);
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  text-align: center;
  color: white;
  display: block;
  margin: auto;
}
a#web-app-btn:hover {
  background-color: var(--deep-primary);
}
a#web-app-btn::after {
  content: "\203A";
  color: white;
  margin: 0 10px;
  font-size: 16px;
  display: inline-block;
}
p.exchange {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 115%;
  margin-top: 20px;
}
p.semi {
  max-width: 60%;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  color: #000000;
}
div#img-div {
  width: 95%;
  position: absolute;
  top: 13rem;
  margin: 0;
}
img.bitcoin-img {
  width: 140px;
  height: 140px;
  z-index: 2;
}
img.giftcard-img {
  width: 160px;
  height: 140px;
  z-index: 1;
}
p.what-is span {
  display: inline-block;
  color: var(--primary-color);
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
a.get-started-btn {
  padding: 18px;
  width: 230px;
  display: block;
  margin: 25px auto;
  margin-bottom: 40px;
  background: #166d71;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}
p.feature-head {
  font-family: "Overpass";
  font-style: normal;
  font-size: 38px;
  font-weight: 800;
  line-height: 130%;
  color: #000000;
}
img.feature-image {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
section#ready {
  background-color: var(--deep-primary);
  color: white;
  text-align: center;
}
a.sign-up-btn {
  padding: 18px;
  width: 210px;
  display: block;
  margin: 25px auto;
  margin-bottom: 0;
  background: #166d71;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}
p.section-head {
  font-family: "Overpass";
  font-style: normal;
  font-size: 42px;
  font-weight: 800;
  line-height: 130%;
  color: white;
}
p.ditch {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  color: #ffffff;
}
footer {
  background-color: white;
  color: var(--primary-color);
}
img.fabex {
  display: inline-block;
  width: 130px;
  height: 25px;
}
img.socials {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
p.address {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #131313;
}
p.help {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #131313;
}
p.help a {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  p.exchange {
    font-size: 32px;
  }
  p.semi {
    max-width: 100%;
    font-size: 14px;
  }
  a.get-started-btn {
    padding: 14px;
    width: 180px;
  }
  p.what-is + p {
    font-size: 14px;
  }
  p.feature-head {
    font-size: 24px;
  }
  p.features-explain {
    font-size: 14px;
  }
  p.section-head {
    font-size: 36px;
  }
  p.ditch {
    font-size: 14px;
  }
  a.sign-up-btn {
    padding: 14px;
    width: 160px;
    margin: 20px auto;
  }
  img.fabex {
    width: 120px;
    height: 20px;
  }
  img.socials {
    width: 24px;
    height: 24px;
  }
  p.address {
    font-size: 14px;
  }
  p.help {
    font-size: 12px;
    line-height: 17px;
  }
  div#img-div {
    margin: 3em 0;
    top: 0rem;
    position: relative;
  }
  img.bitcoin-img {
    width: 105px;
    height: 95px;
  }
  img.giftcard-img {
    width: 95px;
    height: 95px;
  }
}
